%h1= "#{@round.round_type.name} #{@round.dance_class.name}"
%table.table.table-striped
  %thead
    %tr
      %th Richter
      %th Rolle
  %tbody
    - @round.observers.order(:licence).to_a.each_with_index do |observer, index|
      %tr
        %td= observer.full_name
        %td= "Observer #{index+1}"
    - @round.dance_judges.each do |dance_judge|
      %tr
        %td= dance_judge.full_name
        %td Tanz
    - @round.acrobatics_judges.each do |acro_judge|
      %tr
        %td= acro_judge.full_name
        %td Akrobatik

= link_to 'zurück', admin_rounds_path, class: 'btn btn-primary'