%h1 Rundenverwaltung

= link_to 'Runden importieren', admin_rounds_path, method: :post, class: 'btn btn-primary'

%table.table.table-striped.table-hover
  %thead
    %tr
      %th
      %th Startklasse
      %th Startzeit
      %th
  %tbody
    - @rounds.each_with_index do |round, index|
      %tr{class: "#{'success' if round.active?} clickable ", id: "r#{round.id}"}
        %td= round.round_type.name
        %td= round.dance_class && round.dance_class.name
        %td= l round.start_time, format: :time
        %td{"align" => "right"}
          = link_to 'Runde beginnen', start_admin_round_path(round), method: :post, class: 'btn btn-success', data: { confirm: 'Runde wird gestartet - Tanzpaare dieser Runde werden importiert und Runde kann danach nicht mehr gelöscht und neu importiert werden.' } if policy(round).start?
          = link_to 'Runde beenden', close_admin_round_path(round), method: :delete, class: 'btn btn-danger', data: { confirm: 'Ansprache / Pause beendet?' } if policy(round).close?

          -if !round.round_type.no_dance and (round.started? || round.closed?)
            = link_to 'ratings', download_ratings_admin_round_path(round), class: 'btn btn-info'
          = link_to 'delete', admin_round_path(round), method: :delete, class: 'btn btn-danger', data: {confirm: 'Sicher für Neuimport Löschen?'} if index + 1 == @rounds.size && policy(round).destroy?
          - if policy(round).update?
            = link_to 'Wertungsrichter', edit_admin_round_path(round), class: 'btn btn-primary'
          - else
            = link_to 'Wertungsrichter', admin_round_path(round), class: 'btn btn-primary' if policy(round).show?
        -if round.active?
          - round.dance_rounds.order(:position).each do |dance_round|
            - dance_round.dance_teams.each_with_index do |dance_team, index|
              %tr{class: "#{'success' if dance_round.active?} r#{round.id} collapse"}
                - if index == 0
                  %td{:rowspan => dance_teams.size}= "#{dance_round.position } #{"\u2713" if dance_round.closed?}"
                %td{:colspan => 2}= dance_team.full_name
                %td{'align' => 'right'}
                  -if !dance_round.round.closed?
                    -if dance_round.repeating? dance_team
                      .btn.btn-default.disabled wiederholung
                    -elsif !dance_round.repeated? dance_team
                      = link_to 'Tanz wiederholen',  admin_repeat_dance_round_path(dance_round.id, dance_team.id), method: :post, class: 'btn btn-warning'
                    -else
                      .btn.btn-default.disabled ...wird wiederholt
                  = link_to 'Details',  admin_dance_round_path(dance_round.id, dance_team.id), class: 'btn btn-info'
