%h1 Timetable
%table.table.table-striped
  %thead
    %tr
      %th Art
      %th Startzeit
      %th
        %th
  %tbody
    - @rounds.each do |round|
      %tr{class: "#{'info' if round.active?}"}
        %td= "#{round.round_type.name} #{round.dance_class.name if round.dance_class}"
        %td= l round.start_time, format: :time
        %td
        %td
      - round.dance_rounds.order(:position).each do |dance_round|
        - dance_round.dance_teams.each_with_index do |dance_team, index|
          %tr{class: "#{'success' if dance_round.active?}"}
            - if index == 0
              %td{:rowspan => dance_round.dance_teams.count}= "#{dance_round.position } #{"\u2713" if dance_round.closed?}"
            %td= dance_team.startnumber
            %td= dance_team.full_name
            - if dance_round.repeated?(dance_team)
              %td="repeated"
            - else
              %td=dance_team.get_final_result(round) unless dance_round.repeated?(dance_team)
