%h1 Timetable
%table.table.table-striped
  %thead
    %tr
      %th Art
      %th Startzeit
      %th
        %th
  %tbody
    - @rounds.each do |round|
      %tr{class: "#{'info' if round.active?}"}
        %td= "#{round.round_type.name} #{round.dance_class.name if round.dance_class}"
        %td= l round.start_time, format: :time
        %td
        %td
      - round.dance_rounds.order(:position).each do |dance_round|
        %tr{class: "#{'success' if dance_round.active?}"}
          %td
          %td= dance_round.position
          %td= raw dance_round.dance_teams.map(&:full_name).join("<br/>#{'<br/>' if round.acrobatics_judges.size > 0}")
          %td= raw dance_round.dance_teams.map { |dance_team| dance_round.points_per_judge(dance_team).map { |rating_type, points|  "#{rating_type}: #{points.map{|point| number_with_precision(point)}.join('; ')}" }.join('<br/>') if dance_round.closed? }.join('<br/>')
