%h1 Timetable
%table.table.table-striped
  %thead
    %tr
      %th Rundenart
      %th Startklasse
      %th Startzeit
      %th
      %th
  %tbody
    - @rounds.each do |round|
      %tr{class: "#{'success' if round.active?}"}
        %td= round.round_type.name
        %td= round.dance_class.name if round.dance_class
        %td= l round.start_time, format: :time
        %td{colspan: 2}
      - round.dance_rounds.order(:position).each do |dance_round|
        - dance_round.dance_teams.each do |dance_team|
          %tr
            %td{colspan: 3}
            - if dance_team.dancers.empty?
              %td{colspan: 2}= dance_team.name
            - else
              - dance_team.dancers.each do |dancer|
                %td= dancer.full_name
