.navbar-header
  %button.navbar-toggle.collapsed{data:{target: '#navbar', toggle: 'collapse'}, 'aria-expanded' => 'false', 'type' => 'button'}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  =link_to 'EWS 2.1.2', root_path, class: 'navbar-brand active'

.collapse.navbar-collapse#navbar{'aria-expanded' => 'false'}
  %ul.nav.navbar-nav
    %li{class: "#{'active' if controller_name == 'users'}" }= link_to 'Teilnehmer', admin_users_path if policy(User).index?
    %li{class: "#{'active' if params[:controller] == 'admin/rounds'}" }= link_to 'Rundenverwaltung', admin_rounds_path if policy(Round).admin_index?
    %li{class: "#{'active' if params[:controller] == 'judges/dance_rounds'}" }= link_to 'Werten', judges_dance_round_path if policy(DanceRound).show?
    %li{class: "#{'active' if controller_name == 'utilities'}"}= link_to 'Tools', admin_utilities_index_path if policy(User).index?
    %li{class: "#{'active' if params[:controller] == 'dance_rounds'}"}= link_to 'Tanzrunde', dance_round_path


  %ul.nav.navbar-nav.navbar-right
    - if current_user
      %li= link_to " #{current_user.first_name} abmelden", logout_path, method: :delete
    - else
      %li= link_to 'Anmelden', login_path
