= link_to '', '', id: 'top'
= render partial: 'waiting_table'
= form_tag accept_judges_dance_round_path, id: 'mark_ratings' do
  %div
    .container
      .row
        - current_user.dance_teams(current_dance_round).each do |dance_team|
          %div{class: "col-sm-#{12 / current_dance_round.dance_teams.count}"}
            %h3=dance_team.name_with_startnumber
            %table.table.table-striped
              %tbody
                %tr
                  %td
                  - current_dance_round.dance_judges.each do |judge|
                    %td= raw judge.short_name
                  %td= raw current_user.short_name
                  - if current_dance_round.ready?(current_user)
                    %td mean
                - %i(female male dance full_mistakes).each do |attr|
                  %tr{class: dance_rating_class(attr, current_dance_round, dance_team)}
                    %td= t "dance_ratings.attributes.#{attr}"
                    - current_dance_round.dance_judges.each do |judge|
                      - rating = @ratings[judge.id][dance_team.id] && @ratings[judge.id][dance_team.id].first
                      %td
                        = rating.send(attr) if rating
                        = hidden_field_tag "reopen[#{judge.id}][#{dance_team.id}][#{attr}]", '0' if current_dance_round.ready?(current_user) && attr != :full_mistakes
                    %td= @ratings[current_user.id][dance_team.id].first.full_mistakes if attr == :full_mistakes
                    - if current_dance_round.ready?(current_user)
                      %td
                        - if attr == :full_mistakes
                          - if current_dance_round.adjusting_dance_mistakes?(dance_team)
                            = text_field_tag "adjusted[#{dance_team.id}]", current_dance_round.majority_mistakes(dance_team, current_user), class:"mistakes_inputs"
                          - else
                            = current_dance_round.dance_ratings.first.full_mistakes

  - unless current_dance_round.acrobatics_judges.empty? or current_dance_round.round.has_no_acrobatics?
    %div
      .container
        .row
          - current_user.dance_teams(current_dance_round).each do |dance_team|
            %div{class: "col-sm-#{12 / current_dance_round.dance_teams.count}"}
              %h3=dance_team.name_with_startnumber
              %table.table.table-striped
                %tbody
                  %tr
                    %td
                    - current_dance_round.acrobatics_judges.each do |judge|
                      %td= raw judge.short_name
                    %td= raw current_user.short_name
                    - if current_dance_round.ready?(current_user)
                      %td mean
                  - current_dance_round.acrobatics.where(dance_team_id: dance_team.id).each do |acrobatic|
                    %tr{class: acrobatic_rating_class(acrobatic, dance_team)}
                      %td= acrobatic.acrobatic_type.short_name
                      - current_dance_round.acrobatics_judges.each do |judge|
                        - rating = @acrobatic_ratings[judge.id][acrobatic.id]
                        %td
                          = rating.rating if rating
                          = hidden_field_tag "reopen_acrobatic[#{judge.id}][#{acrobatic.id}", '0'
                      %td -
                      - if current_dance_round.ready?(current_user)
                        %td
                    %tr{class: "#{'danger' if acrobatic.mistake_diff_to_big(dance_team)}"}
                      %td
                      - current_dance_round.acrobatics_judges.each do |judge|
                        %td= @acrobatic_ratings[judge.id][acrobatic.id].full_mistakes if @acrobatic_ratings[judge.id][acrobatic.id]
                      %td= @acrobatic_ratings[current_user.id][acrobatic.id].full_mistakes
                      - if current_dance_round.ready?(current_user)
                        %td
                          - if acrobatic.mistakes_adjusting?(dance_team)
                            = text_field_tag "adjusted_acrobatic[#{acrobatic.id}]", acrobatic.majority_mistakes(dance_team, current_user),class:"mistakes_inputs"
                          - else
                            = acrobatic.acrobatic_ratings.first.full_mistakes

  %div
    - if current_dance_round.ready?(current_user)
      = submit_tag (any_mistakes_adjusting? ? 'Fehler angleichen und akzeptieren' : 'Akzeptieren'), data: {confirm: (any_mistakes_adjusting? ? 'Wirklich nur Fehler angleichen?' : 'Wirklich keine Änderungen notwendig?')}, class: 'btn btn-primary',id: "observer_button"
