= link_to '', '', id: 'top'
= form_for @dance_round, url: judges_dance_round_path do |f|
  #dance_teams.row
    - @dance_round.dance_teams.each do |dance_team|
      .dance_team{class: "col-sm-#{12/[@dance_round.dance_teams.size, 2].max}"}
        %h3= dance_team.name_with_startnumber
        = f.fields_for 'dance_ratings[]', @dance_round.dance_ratings.build do |r|
          = r.hidden_field :dance_team_id, value: dance_team.id
          .points{max: 10}
            .blue
              %h4 Technik Herr - Grundtechnik
              .enabled
                = render partial: 'rating_bar', locals: {set_to: 0}
                = r.hidden_field :male_base_rating, autocomplete: 'off'
              %h4 Technik Herr - Haltung- und Drehtechnik
              .enabled
                = render partial: 'rating_bar', locals: {set_to: 0}
                = r.hidden_field :male_turn_rating, autocomplete: 'off'
            .rose
              .points{max: 10}
                %h4 Technik Dame - Grundtechnik
                .enabled
                  = render partial: 'rating_bar', locals: {set_to: 0}
                  = r.hidden_field :female_base_rating, autocomplete: 'off'
                %h4 Technik Dame - Haltung- und Drehtechnik
                .enabled
                  = render partial: 'rating_bar', locals: {set_to: 0}
                  = r.hidden_field :female_turn_rating, autocomplete: 'off'
          .points{max: 6}
            %h4 Tanz - Choreographie
            .enabled
              = render partial: 'rating_bar', locals: {set_to: 0}
              = r.hidden_field :choreo_rating, autocomplete: 'off'
          .points{max: 6}
            %h4 Tanz - Tanzfiguren
            .enabled
              = render partial: 'rating_bar', locals: {set_to: 0}
              = r.hidden_field :dance_figure_rating, autocomplete: 'off'
          .points{max: 8}
            %h4 Tanz - Tänzerische Darstellung
            .enabled
              = render partial: 'rating_bar', locals: {set_to: 0}
              = r.hidden_field :team_presentation_rating, autocomplete: 'off'
          .points{mistake_type: 'abs'}
            .enabled
              = render partial: 'mistakes_bar', locals: {show: 'TSUV'}
              = r.hidden_field :mistakes, autocomplete: 'off'
  = f.submit 'Wertung absenden', class: 'btn btn-primary show_loading_screen', data: { confirm: 'Sicher alles gewertet?' }