%h1 Übersicht aller Teilnehmer
= link_to 'Offizielle und Tänzer importieren', admin_users_path, method: :post, class: 'btn btn-primary show_loading_screen' if policy(User).create?

.row
  .col-sm-6
    %h2 Offizielle
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Lizenznr.
          %th Benutzername
          %th PIN
      %tbody
        - @users.each do |user|
          %tr
            %td= user.full_name
            %td= user.licence
            %td= user.login
            %td= user.pin
  .col-sm-6
    %h2 Tanzpaare
    %table.table.table-striped
      %thead
        %tr
          %th Startnummer
          %th
          %th
      %tbody
        - @dance_teams.each do |dance_team|
          %tr
            %td= dance_team.startnumber
            - if dance_team.dancers.empty?
              %td{colspan: 2}= dance_team.name
            - else
              - dance_team.dancers.each do |dancer|
                %td= dancer.full_name
