-if @round.round_type.no_dance
  %h1 #{@round.round_type.name} #{@round.dance_class.name if @round.dance_class}
  %div{id: 'reload'}

-else
  %h1= "#{@dance_round.round.round_type.name} #{@dance_round.round.dance_class.name if @dance_round.round.dance_class} #{@dance_round.position} / #{@dance_round.round.dance_rounds.count}"
  = render partial: '/judges/dance_rounds/waiting_table'
  - @dance_round.dance_teams.each do |dance_team|
    %h3= dance_team.name_with_startnumber
